<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>Ciudades
        <mat-card *ngFor="let clima of climas" class="example-card">
            <mat-card-header>
                <mat-card-title>{{clima.name}}</mat-card-title>
                <mat-card-subtitle>{{clima.country}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{clima.main}}
                </p>
                <p>
                    {{clima.wind}}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>Proximos días
        <mat-card *ngFor="let prediccion of predicciones" class="example-card">
            <mat-card-header>
                <mat-card-title>{{prediccion.name}}</mat-card-title>
                <mat-card-subtitle>{{prediccion.country}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{prediccion.main}}
                </p>
                <p>
                    {{prediccion.wind}}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>